.home-container img{
    width: 99%;
    height: 699px;
    position: relative;
}
.home-texts{
    position: absolute;
    left: 5px;
    top: 50px;
    color: white;
}
.home-text-header{
    font-size: 5rem;
}
.home-text-details{
    font-size: 3rem;
    font-weight: 600;
}
.home-text-details a{

  color:rgb(75, 228, 4);
  font-weight: 900;    
}

@media only screen and (max-width: 600px) {
    body{
       width:  100%;
    }
    .home-text-header {
            font-size: 2rem;
    }
    .home-text-details {
        font-size: 1rem;
        font-weight: 600;
    }
    .home-container img {
        width: 99%;
        height: 100%;
        position: relative;
    }
    .home-texts {
        position: absolute;
        top: 150px;
        right: 2px;
        color: white;
    }
}
