.home-container img{
    width: 99%;
    height: 699px;
    position: relative;
}
.home-texts{
    position: absolute;
    left: 10px;
    top: 50px;
    color: white;
}
.home-text-header{
    font-size: 5rem;
}
.home-text-details{
    font-size: 3rem;
    font-weight: 600;
}
.home-text-details a{

  color:rgb(75, 228, 4);
  font-weight: 900;    
}
